*{
    box-sizing: border-box;
    margin: 0;
}

main{
    min-width: 375px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    font-family: Outfit;
    align-items: center;
}

.window{
    width: 100%;
    height: 100%;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 33em;
    width: 22em;
    min-width: 20em;
    background-color: white;
    border-radius: 25px;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

img {
    max-width: 300px;
    border-radius: 10px;
}

.text{
    text-align: center;
    padding: 0px 40px;
    color: hsl(218, 44%, 22%);
}

h1{
    font-weight: 700;
}

.text.hidden{
    color: hsla(217, 45%, 22%, 0.5);
    font-size: 15px;
    font-weight: 400;
}

.shadow{
    box-shadow: 7px 17px 75px -30px hsl(220, 15%, 55%);
}

@media (max-width: 500px){
    .box{
        scale: 0.8;
    }
}
